In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as BS
import requests as r
import re
import time as t
from sqlalchemy import create_engine
import pymysql
!pip install ipynb-py-convert

In [ ]:
database_username = 'root'
database_password = '**********'
database_ip       = 'localhost'
database_name     = 'Linkedin_Jobs'

database_connection = create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format(database_username, database_password,
                                                                             database_ip, database_name))

In [44]:
def scrape_linkedin_job_search(keywords,data=None):
    if data is None:   #Create it
        columns = ['Title', 'Company', 'Location','Link', 'Job Level','Job Type','Function', 'Sector','Description','Short Description']
        data = pd.DataFrame(columns=columns)
        
    data_all=data.copy()

    for i in range(4):
        titles = []
        companies = []
        locations = []
        links = []
        linkss=[]
        linksss=[]
        job_level=[]
        job_type=[]
        function=[]
        sector=[]
        description=[]
        
        url=f'https://www.linkedin.com/jobs/search/?keywords={keywords}&location=France&start={i*25}'
        page = r.get(url)
        soup = BS(page.content)

        for i in soup.select("div.result-card__contents"):
            title = i.findChild("h3", recursive=False)
            company = i.findChild("h4", recursive=False)
            location = i.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)

        links=soup.find_all(href=True)
        for i in links:
            if '/jobs/view' in str(i):
                linkss.append(i)
                
        for i in linkss:
            linksss.append(''.join(re.findall('href="(.+)"><span',str(i))))

        for i in range(len(linksss)):
            url=linksss[i]
            if i%5==0:
                t.sleep(1)
            page=r.get(linksss[i]).content
            soup=BS(page)
            job_level.append(' '.join([j.text for j in soup.select('.description > ul > li:nth-child(1) > span')]))
            job_type.append(' '.join([j.text for j in soup.select('.description > ul > li:nth-child(2) > span')]))
            function.append(' '.join([j.text for j in soup.select('.description > ul > li:nth-child(3) > span')]))
            sector.append(' '.join([j.text for j in soup.select('.description > ul > li:nth-child(4) > span')]))
            description.append(' '.join([j.text for j in soup.select('section.description > div')]))


        zipped = zip(titles, companies, locations, linksss, job_level, job_type, function, sector, description)
        for i in list(zipped):
            data_all=data_all.append({'Title' : i[0] , 'Company' : i[1], 'Location': i[2],'Link':i[3], 'Job Level': i[4], 'Job Type': i[5], 'Function': i[6], 'Sector': i[7], 'Description':i[8]} , ignore_index=True)
        
    data_all=data_all.drop_duplicates(keep='first',subset=['Company','Description']).reset_index(drop=True)
    data_new=data_all.copy()
    if data_all.shape[0]>data.shape[0]:
        rows_to_drop=[i for i in range(data.shape[0])]
        data_new=data_new.drop(rows_to_drop).reset_index(drop=True)
    data_new['Description']=data_new['Description'].apply(lambda x:x.lower())
    
    data_new['Short Description']=''

    for i in range(data_new.shape[0]):
        if 'sql' in data_new['Description'][i]:
            data_new['Short Description'][i]='SQL, '
        if 'python' in data_new['Description'][i]:
            data_new['Short Description'][i]=str(data_new['Short Description'][i])+'Python, '
        if 'tableau' in data_new['Description'][i]:
            data_new['Short Description'][i]=str(data_new['Short Description'][i])+'Tableau, '
        if 'scikit' in data_new['Description'][i] or 'sklearn' in data_new['Description'][i]:
            data_new['Short Description'][i]=str(data_new['Short Description'][i])+'SkLearn, '
        if 'git' in data_new['Description'][i] :
            data_new['Short Description'][i]=str(data_new['Short Description'][i])+'git, '
        if 'pandas' in data_new['Description'][i] :
            data_new['Short Description'][i]=str(data_new['Short Description'][i])+'Pandas, '
        if 'numpy' in data_new['Description'][i] :
            data_new['Short Description'][i]=str(data_new['Short Description'][i])+'Numpy, '
        if 'seaborn' in data_new['Description'][i] or 'matplolib' in data_new['Description'][i] or 'visualization' in data_new['Description'][i] or 'visualisation' in data_new['Description'][i]:
            data_new['Short Description'][i]=str(data_new['Short Description'][i])+'Data Viz, ' 
    data.to_sql('table_name_for_df',database_connection, if_exists='replace', index=False)
    !ipython nbconvert --to=python Linkedin_Scraping.ipynb
    
#     data_all.to_sql('All_Offers',if_exists='replace', index = False)
#     data_new.to_sql('New_Offers',if_exists='replace', index = False)
    return data_new

In [45]:
data1=scrape_linkedin_job_search('data&20analyse')

In [46]:
data1.shape

(25, 10)

In [47]:
data2=scrape_linkedin_job_search('data&20analyse',data1)

In [48]:
data2.shape

(65, 10)

In [49]:
data1.append(data2).drop_duplicates(subset=['Description','Company'],keep='first')

,Title,Company,Location,Link,Job Level,Job Type,Function,Sector,Description,Short Description
0,Data Scientist (H/F),Groupe Karavel - Promovacances,"Paris, FR",https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Temps plein,Ingénierie Technologies de l’information,"Compagnie aérienne/Aviation Loisirs, voyages e...",n°1 de la vente de séjours en ligne avec plus ...,
1,Data Engineer,OECD - OCDE,"Paris Area, France",https://fr.linkedin.com/jobs/view/data-enginee...,Manager,Temps plein,Études/recherche Rédaction/édition Management ...,Affaires étrangères Collectivités publiques et...,the public affairs and communications director...,"SQL, Tableau, git,"
2,data analyst H/F,La Banque Postale,"Limoges, Nouvelle-Aquitaine, France",https://fr.linkedin.com/jobs/view/data-analyst...,Confirmé,Temps plein,Technologies de l’information Finance Analyste,Banques,"vous maîtrisez des outils data mining (sas, i...",
3,Assistant Data Analyst,Total,"Pau, FR",https://fr.linkedin.com/jobs/view/assistant-da...,Confirmé,Temps plein,Technologies de l’information,Technologies et services de l’information Recr...,description du postele groupe total est un act...,"SQL, Python,"
4,Data Analyst,IQVIA,"Angers Area, France",https://fr.linkedin.com/jobs/view/data-analyst...,Manager,Temps plein,Analyste Sciences Études/recherche,Hôpitaux et centres de soins Biotechnologie In...,"data analyst, real world & analytics solutions...","SQL, Python, Tableau, Data Viz,"
5,DATA ANALYST,Catalina Marketing France,"Boulogne-Billancourt, Île-de-France, France",https://fr.linkedin.com/jobs/view/data-analyst...,Stagiaire,Temps plein,Technologies de l’information,Marketing et publicité,visitez notre page 😊 https://www.welcometothej...,"SQL, Python,"
6,ENGINEER DATA SCIENTIST,ALTEN,"Toulouse, Occitanie, France",https://fr.linkedin.com/jobs/view/engineer-dat...,Confirmé,Temps plein,Ingénierie,Aéronautique et aérospatiale,responsibilities : · analyze raw data: asse...,"SQL, Python, Tableau, Data Viz,"
7,Data Analyst,Solocal,Paris et périphérie,https://fr.linkedin.com/jobs/view/data-analyst...,Confirmé,Temps plein,Technologies de l’information,Marketing et publicité,contextela/le data analyst travaillera en étro...,"SQL, Python, Tableau, git, Data Viz,"
8,DATA ANALYST,Sogia Systeme,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,intitulé du poste : data analystdescription du...,"SQL, Python, Data Viz,"
9,Data Analyst,Le Point,"Paris, Île-de-France, France",https://fr.linkedin.com/jobs/view/data-analyst...,Non pertinent,Temps plein,Analyste,Presse écrite,le point recherche un(e) data analystrattaché(...,"SQL, Python, Tableau, Data Viz,"
10,Data Engineer,Groupe Baobab,"Paris, Île-de-France, France",https://fr.linkedin.com/jobs/view/data-enginee...,Confirmé,Temps plein,Technologies de l’information Autre Ingénierie,Services financiers,missionle groupe baobab est composé de 2 socié...,"SQL,"
11,Data Consultant,Keley Data,"Région de Paris, France",https://fr.linkedin.com/jobs/view/data-consult...,Confirmé,Temps plein,Conseil Stratégie/planning Management de projet,Technologies et services de l’information Cons...,"dans le cadre d’une forte croissance, keley da...","git,"
12,Data Analyst,Lacoste,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Confection et mode Industrie textile Commerce ...,missions son rôle consiste àau sein de la dire...,"SQL, Data Viz,"
13,Data Scientist,Awalee Consulting,"Région de Paris, France",https://fr.linkedin.com/jobs/view/data-scienti...,Manager,Temps plein,Conseil Ingénierie,Banques Conseil en management,"vous êtes data scientist, passionné(e) par les...","Python, Data Viz,"
14,Data Analyst,PACE Aerospace Engineering & Information Techn...,"Toulouse, Okzitanien, Frankreich",https://fr.linkedin.com/jobs/view/data-analyst...,Manager,Temps plein,Technologies de l’information,Aéronautique et aérospatiale Technologies et s...,do you have a passion for data management and ...,
15,Data Analyst,YNOV Campus,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Inte...,description de l'offrecompany descriptionadvan...,
16,Data Scientist (H/F),Altran,"Nantes, Pays de la Loire, France",https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Temps plein,Ingénierie Technologies de l’information,Technologies et services de l’information Télé...,leader mondial du conseil en innovation et ing...,"SQL, Python,"
17,Data intelligence analyst,Pernod Ricard,"Paris, FR",https://fr.linkedin.com/jobs/view/data-intelli...,Premier emploi,Temps plein,Comptabilité/audit Administration Analyste,Vins et spiritueux,role purpose: responsible for the augmentation...,"SQL,"
18,Data Analyst,DATACORP,"Nice, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,poste à pourvoirnous recherchons un data analy...,"SQL,"
19,Revenue Analyst (F/M),Hyatt Regency Paris Etoile,"Paris, FR",https://fr.linkedin.com/jobs/view/revenue-anal...,Confirmé,Temps plein,Finance Ventes,Recrutement Services financiers Hôtellerie et...,service: revenuemanagementreporting to: areadi...,
20,Data Scientist,High Flyers,"Paris, FR",https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Temps plein,Ingénierie Technologies de l’information,Internet Recrutement Ressources humaines,head of data scienceclientvarious tech startup...,
21,DATA ANALYST (H/F),Lynx RH Grenoble,"Grenoble, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Recr...,entrepriselynx rh : recrutement spécialisé en ...,"SQL,"
22,Data analyst,TEXTILOT,"Varennes-Vauzelles, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Logistique et chaîne d’approvisionnement Comme...,sous la responsabilité de notre responsable ba...,"SQL,"
23,Data Engineer,Pretty Simple,"Paris, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Logiciels informatiques Internet Jeux électron...,we are looking for a skilled data engineer to ...,"Python,"
24,Data Scientist F/H,Liebherr Group,"Toulouse, FR",https://fr.linkedin.com/jobs/view/data-scienti...,Manager,Temps plein,Technologies de l’information,Aéronautique et aérospatiale,liebherr-aerospace toulouse sas (582 m€ de ca ...,"git,"
25,Data Scientist,EyeTech Solutions,"Paris Area, France",https://fr.linkedin.com/jobs/view/data-scienti...,Manager,Temps plein,Technologies de l’information Analyste Sciences,Recrutement,data scientist – join an international consult...,"Python, git, Data Viz,"
26,Data Engineer,URBAN LINKER,"Toulouse, Occitanie, France",https://fr.linkedin.com/jobs/view/data-enginee...,Confirmé,Temps plein,Ingénierie Sciences Technologies de l’information,Technologies et services de l’information,"data engineer dans la science comportementale,...","Python,"
27,Data Analyst,Lacoste,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Confection et mode Industrie textile Commerce ...,responsibilitiesau sein de la direction market...,"SQL, Data Viz,"
28,Data Analyst,La Redoute,"Roubaix, Nord-Pas-de-Calais, France",https://fr.linkedin.com/jobs/view/data-analyst...,Confirmé,Temps plein,Analyste Autre,Commerce de détail,"nous recherchons en cdi, un data analyst (h/f)...","SQL, Data Viz,"
29,Data Scientist,italent,"Région de Lille, France",https://fr.linkedin.com/jobs/view/data-scienti...,Confirmé,Temps plein,Ingénierie Technologies de l’information,Grande distribution,l'entreprise qui recrute : un des leaders du r...,"Python, git,"
...,...,...,...,...,...,...,...,...,...,...
35,Data Engineer,Nexeo,Paris et périphérie,https://fr.linkedin.com/jobs/view/data-enginee...,Confirmé,Temps plein,Ingénierie Technologies de l’information,Technologies et services de l’information Serv...,au sein de l’équipe r&d de l’un de nos clients...,"SQL, Python,"
36,Support Data,Capital Fund Management (CFM),"Région de Paris, France",https://fr.linkedin.com/jobs/view/support-data...,Confirmé,Temps plein,Finance Gestion,Gestion de portefeuilles,le scripting et sql sont vos dialectes de préd...,"SQL, Python,"
37,DATA MANAGER,Gan Assurances,"Nanterre, Île-de-France, France",https://fr.linkedin.com/jobs/view/data-manager...,Premier emploi,Temps plein,Études/recherche,Assurances,le datalab de gan assurances recherche un data...,"SQL, Tableau,"
38,Data Engineer,PeopleDoc Inc.,"Paris, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,peopledoc is on a mission to make the difficul...,"SQL, Python, git,"
39,Data Engineer,Cardiologs,"Paris, Ile-de-France, France",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Ingénierie,Logiciels informatiques Équipements médicaux H...,what you’ll dowe are looking for an energetic ...,"SQL, Python, Pandas, Numpy,"
40,Senior Data Scientist,FieldBox.ai,"Bordeaux, Aquitaine, France",https://fr.linkedin.com/jobs/view/senior-data-...,Premier emploi,Temps plein,Secteur industriel Ingénierie,Logiciels informatiques,job description as part of the data science t...,"SQL, Python, git, Data Viz,"
41,Data Analyst,Advans Microfinance Network,"Paris 09, Île-de-France, France",https://fr.linkedin.com/jobs/view/data-analyst...,Confirmé,Temps plein,Études/recherche Technologies de l’information...,Services financiers Banques Services d’investi...,"advans recherche un.e data analyst, motivé.e e...","SQL, Python, git, Data Viz,"
42,DATA ANALYST,entreprise,"Rivière, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Banques Assurances Services financiers,"description du postenous sommes une startup, j...","SQL, Python,"
43,DATA ANALYST,Sogia Systeme,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,intitulé du poste : data analyst description d...,"SQL, Python, Data Viz,"
44,Data Engineer,Brut.,Paris,https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Médias en ligne,brut.brut est un pure player d'information vid...,"SQL, Python, git,"
45,DATA ENGINEER,MycommunIT,"Levallois-Perret, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,description de l'offremycommunit recherche pou...,"SQL, Python,"
46,Data analyst,DTA INGENIERIE,"Saint-Herblain, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,entreprise de services numériques (esn) spécia...,"SQL,"
47,Data Architect,eFinancialCareers,"Paris, FR",https://fr.linkedin.com/jobs/view/data-archite...,Confirmé,Temps plein,Développement commercial Ventes,Technologies et services de l’information Sécu...,fondée en 2016 par deux professionnels de la f...,
48,Data Analyst,Zenly,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,CDD ou mission ponctuelle,Technologies de l’information,Logiciels informatiques Internet Jeux électron...,about us zenly started in 2011 as a small team...,"SQL,"
49,Data Analyst (R1104467),IQVIA,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Industrie pharmaceutique,job descriptioniqvia™ is the leading human dat...,"SQL, Python, Tableau, Data Viz,"
50,Data Analyst,CGIAR,"Montpellier, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Gestion des associations et fondations Études/...,position: data analyst grade: grade 2 duty sta...,
51,Data Engineer,Criteo,"Paris, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Non pertinent,Temps plein,Technologies de l’information,Internet Marketing et publicité Médias en ligne,"who we areat criteo, we connect 1.5 billion ac...","SQL,"
52,Senior Data Analyst - Data Analytics,Evidera,"Paris, FR",https://fr.linkedin.com/jobs/view/senior-data-...,Confirmé,Temps plein,Technologies de l’information,Études/recherche Biotechnologie Industrie phar...,we are looking to fil l this role in our us of...,"SQL, Python,"
53,Data analyst,Dams Furniture,"Noisy-le-Roi, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Marketing et publicité Recrutement Comptabilité,fonctioncontrôler la bonne intégration des don...,"SQL, Tableau,"
54,Data scientist,EDF Store & Forecast,"Villeurbanne, FR",https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Temps plein,Ingénierie Technologies de l’information,Photographie Commerce de détail Administration...,voici les missions qui vous seront confiéesau ...,
55,Data Scientist / Data Engineer,Clustree,"Paris, FR",https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Temps plein,Ingénierie Technologies de l’information,Technologies et services de l’information Logi...,"localisation: france, ile-de-france, parisdesc...","SQL, Python, SkLearn,"
56,Data engineer,HighTeam Marketing Communication,"Clamart, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Design Logiciels informatiques Internet,missionmettre en place sur notre datalake les ...,"Python, git,"
57,Data Engineer,Qwant SAS,"Nice, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,job descriptionwithin a human-sized cross-skil...,
58,Data Engineer,iBanFirst,"Dijon, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Internet Banques Services financiers,"aboutfair, focused, forwardfounded in 2013, ib...","SQL, Python,"
59,Data Analyst,DTA Ingénierie,"Toulouse, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,emploien réorientation ou début de carrière ? ...,
60,Data Scientist,Tinyclues,"Paris, FR",https://fr.linkedin.com/jobs/view/data-scienti...,Premier emploi,Temps plein,Ingénierie Technologies de l’information,Marketing et publicité Logiciels informatiques...,let us be honest this job title doesn’t make a...,
61,Data Engineer,La Javaness,"Paris, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,tu te sens prêt à plonger au cœur de la révolu...,"git,"
62,Data Engineer,Kiss The Bride,"Limonest, FR",https://fr.linkedin.com/jobs/view/data-enginee...,Premier emploi,Temps plein,Technologies de l’information,Marketing et publicité Logiciels informatiques...,missions et responsabilitésau sein du pôle eng...,"SQL, Python,"
63,Lead Data,Sept Lieues,"Paris, FR",https://fr.linkedin.com/jobs/view/lead-data-at...,Confirmé,Temps plein,Technologies de l’information,Technologies et services de l’information Logi...,l'entreprisegrand groupe français250 personnes...,
64,Data Analyst,Bolden,"Paris, FR",https://fr.linkedin.com/jobs/view/data-analyst...,Premier emploi,Temps plein,Technologies de l’information,Technologies et services de l’information Banq...,la sociétéboldenestun leader français du crédi...,"SQL, git,"

In [23]:
data1.Link[7]

'https://fr.linkedin.com/jobs/view/data-analyst-at-solocal-1667326695?refId=9f97a5ef-bbc0-4d85-9dc7-3d45f65e86fd&amp;position=8&amp;pageNum=0&amp;trk=guest_job_search_job-result-card_result-card_full-click'

In [24]:
data1.Link[82]

'https://fr.linkedin.com/jobs/view/data-analyst-at-solocal-1667326695?refId=91f13471-6a5b-4cb7-aa00-92a6e80a9d1a&amp;position=8&amp;pageNum=0&amp;trk=guest_job_search_job-result-card_result-card_full-click'

In [25]:
data2.Link[28]

'https://fr.linkedin.com/jobs/view/data-analyst-at-solocal-1667326695?refId=c6d24d1c-471a-440f-b868-b76aee11348e&amp;position=4&amp;pageNum=0&amp;trk=guest_job_search_job-result-card_result-card_full-click'

In [26]:
data2.Link[3]

'https://fr.linkedin.com/jobs/view/data-analyst-at-solocal-1667326695?refId=5602330c-4304-4cdf-83db-dd6f2c5da921&amp;position=4&amp;pageNum=0&amp;trk=guest_job_search_job-result-card_result-card_full-click'